<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css" />
    <title>Home</title>
</head>
<body>
      <header>
        <a href="#" class ="logo">
            <img alt="Qries" src="https://i.imgur.com/8W5nFMK.png"
            width="150" length ="150">
         </a>
        
    </header>

    <!-- Particles.js div -->
    <div id="particles-js">
        <div class="heading">
            <h1>SchoolShack</h1>
            <h3>Ensuring a better future for all</h3>
        </div>
    </div>
  
    <!-- Import Particles.js and app.js files -->
    <div id="particles-js"></div>
    <script type="text/javascript" src="particles.js"></script>
    <script type="text/javascript" src="app.js"></script>
      
</body>
</html>